<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cliente - Soulib</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <main>
      <a href="/clientes">&#9666; Voltar</a>
      <h1>Editar Cliente</h1>
      <hr />
      <form action="/clientes/update" method="post">
        <!-- Na edição, devemos fornecer o ID para que seja indicado qual dado vai ser alterado -->
        <input type="hidden" name="idCliente" th:value="${cliente.idCliente}" />

        <label for="nome">Nome <span style="color: red">*</span></label>
        <input
          th:value="${cliente.nome}"
          type="text"
          name="nome"
          id="nome"
          maxlength="100"
          required
        />

        <label for="telefone">Telefone <span style="color: red">*</span></label>
        <input
          th:value="${cliente.telefone}"
          type="tel"
          name="telefone"
          id="telefone"
          maxlength="42"
          required
        />

        <label for="email">Email</label>
        <input
          th:value="${cliente.email}"
          type="email"
          name="email"
          id="email"
          maxlength="120"
        />

        <button type="submit">Enviar</button>
      </form>
    </main>
    <script src="/js/main.js"></script>
  </body>
</html>
