<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Clientes</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <main>
      <a href="/clientes">&#9666; Voltar</a>
      <h1 th:text="${cliente.nome}"></h1>
      <!--Concatenar informações de duas formas-->
      <p th:text="'Email: ' + ${cliente.Email}"></p>
      <p>Telefone: <span th:text="${cliente.Telefone}"></span></p>
    </main>
    <script src="/js/main.js"></script>
  </body>
</html>
