<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Empréstimos</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <main>
      <a href="/">&#9666; Home</a>
      <!-- Tabela de empréstimos -->
      <hr />
      <h2>Novo Empréstimo</h2>
      <form action="/emprestimos/create" method="post">
        <label for="dataRealizada"
          >Data Realizada<span style="color: red">*</span></label
        >
        <input type="date" name="dataRealizada" id="dataRealizada" required />

        <label for="dataDevolucao"
          >Data Devolução<span style="color: red">*</span></label
        >
        <input type="date" name="dataDevolucao" id="dataDevolucao" required />

        <label for="finalizado"
          ><input
            type="checkbox"
            name="finalizado"
            id="finalizado"
          />Finalizado?</label
        >

        <!-- Select Livros -->
        <select name="idLivro" required>
          <option selected disabled value="">Selecione um livro</option>
          <option th:each="livro : ${listaLivros}" th:value="${livro.idLivro}">
            <span th:text="${livro.titulo}"></span> -
            <span th:text="${livro.autor}"></span>
          </option>
        </select>
        <!-- Select Cliente -->
        <select name="idCliente" required>
          <option selected disabled value="">Selecione um cliente</option>
          <option
            th:each="cliente : ${listaClientes}"
            th:value="${cliente.idCliente}"
          >
            <span th:text="${cliente.nome}"></span> -
            <span th:text="${cliente.email}"></span>
          </option>
        </select>

        <button type="submit">Enviar</button>
      </form>
    </main>
    <script src="/js/main.js"></script>
  </body>
</html>
