<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Livros</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <main>
      <a href="/livros">&#9666; Voltar</a>
      <h1 th:text="${livro.titulo}"></h1>
      <p>Autor: <span th:text="${livro.autor}"></span></p>
      <p>Descrição: <span th:text="${livro.descricao}"></span></p>
      <p>Editora: <span th:text="${livro.editora}"></span></p>
      <p>Paginas: <span th:text="${livro.paginas}"></span></p>
    </main>
    <script src="/js/main.js"></script>
  </body>
</html>
